<a href="https://colab.research.google.com/github/pkashin/DS2011/blob/master/Webinar4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Консультация 28.10.2021
































--

# 6. Ближайшее значение

Дан набор цен о билетах. Кроме того, задана некоторая выбранная цена price.
Необходимо найти ту строчку, в которой значение цены самое близкое к выбранной цене.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию `find_nearest(df, price)`.
Эта функция принимает два аргумента:
1. df - pandas.DataFrame - набор данных о билетах. Цена записана к колонке price.
2. price - вещественное число. Выбранная цена.
Эта функция должна вернуть pandas.Series - всю строчку целиком, которое содержит наиближайшее значение к выбранной цене.

## Шаблон для решения

```python
import pandas as pd
import numpy as np

def find_nearest(df, price):
    '''Вставьте ваш код здесь'''
```

## Примечание

В качестве отступа внутри функции используется 4 пробела. 

## Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче **не надо ничего читать и писать**.
Нужно **только реализовать указанную функцию**.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, `input()`) или их вывода (например, `print()`) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

## Пример входных данных для функции

```
23.00
ticket_id,flight_id,operator_id,price
FBD1235F,XY2554,SKND,100.00
XTT2F576,XY2554,,20.00
QTH36773,NF0514,,
GDERWRWM,AB4662,DTTG,10.00
TTEHWHER,CD9962,AMAR,200.00
```

## Пример результата работы функции

```
XTT2F576,XY2554,,20.0
```

In [ ]:
import pandas as pd
import numpy as np

def find_nearest(df, price):
    df1 = abs(df['price'] - price)
    df1_min = df1.min()
    for idx in range(len(df1)):
        if df1[idx] == df1_min:
            return df.iloc[idx]
    return None

In [ ]:
import pandas as pd
import numpy as np

def find_nearest(df, price):
    return df.iloc[(df["price"] - price).abs().argmin()]

# /content/sample_data/README.md
# pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
import pandas as pd
import numpy as np

def find_nearest(df, price):
    return df.loc[(df["price"] - price).abs().idxmin()]

# 9. Средняя цена

Дан набор цен на билеты по рейсам. Определите среднюю цену билета для каждого из рейсов. 

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию `count_avg_price(df)`.
Эта функция принимает pandas.DataFrame.
Идентификатор рейса записан в колонке flight_id, а цена в колонке price.
Функция должна возвратить pandas.DataFrame в котором индекс - это flight_id, а колонка price - средняя цена для данного рейса.

## Шаблон для решения

```python
import pandas as pd
import numpy as np

def count_avg_price(df):
    '''Вставьте ваш код здесь'''
```

## Примечание

В качестве отступа внутри функции используется 4 пробела. 

## Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче **не надо ничего читать и писать**.
Нужно **только реализовать указанную функцию**.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, `input()`) или их вывода (например, `print()`) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

## Пример входных данных

```
flight_id,seat,price
AB255,53;B,100.00
XY025,02;C,350.00
AB255,54;A,200.00
```

## Пример выходных данных

```
flight_id,price
AB255,150.00
XY025,350.00
```

In [ ]:
import numpy as np
import pandas as pd

def count_avg_price(df):
    uniq_ids = df["flight_id"].unique()
    means = []
    for id in uniq_ids:
        id_price_mean = df.loc[df['flight_id'] == id].mean().item()
        means.append(dict(flight_id=id, price=id_price_mean))
    df_means = pd.DataFrame(means)
    df_means.set_index(['flight_id'], inplace=True)
    return df_means

In [ ]:
import numpy as np
import pandas as pd

def count_avg_price(df):
    return df.groupby('flight_id').agg({'price':['mean', 'count']})

In [ ]:
import numpy as np
import pandas as pd

def count_avg_price(df):
	return df.groupby(["flight_id"]).mean()

# 2. Поиск самолетов[2]
Необходимо вывести все модели самолетов, на которых был совершен хотя бы один рейс, с указанием количества рейсов, выполненных на каждой модели. Рейс считается выполненным, если самолет прибыл в пункт назначения. Элементы выборки должны быть упорядочены по убыванию числа рейсов.

## Формат вывода

`model, flights_num`

## Пример вывода

```
| model               | flights_num |
|---------------------|-------------|
| Boeing 777-300      | 198         |
| Sukhoi Superjet-100 | 175         |
```

In [ ]:
SELECT aircrafts.model as model, COUNT(*) AS flights_num
FROM aircrafts
INNER JOIN flights ON aircrafts.aircraft_code = flights.aircraft_code
WHERE flights.status = 'Arrived'
GROUP BY aircrafts.model
ORDER BY flights_num DESC;

# 3. Поиск дешевых авиабилетов
Требуется найти все рейсы, для которых средняя стоимость перелета более 3300, но менее 5000 рублей.
Вхождения в выборку должны быть упорядочены по возрастанию `flight_id`.

## Примечание

Необходимо усреднять стоимость по всем билетам для данного рейса.

## Формат вывода

`flight_id, avg_amount`

## Пример вывода

```
| flight_id | avg_amount |
|-----------|------------|
| 28716     | 3400       |
| 29725     | 3500       |
```

In [ ]:
SELECT flight_id, AVG(amount) as avg_amount
FROM ticket_flights
GROUP BY flight_id
HAVING avg_amount < 5000
  AND avg_amount > 3300
ORDER BY flight_id;

# 6. Рейсы из Москвы[1]*
Необходимо для каждого дня недели найти суммарное количество рейсов из аэропортов Москвы. Вхождения в выборку должны быть упорядочены по убыванию числа рейсов.

## Примечание

`airport_code` московских аэропортов это SVO, VKO, DME.

День недели - это число, где 0 - это воскресенье, 1 - это понедельник и т.д.
Возможно, для решения задачи понадобится инструкция по работе с датами из введения.

Считать нужно все рейсы вне зависимости от их статуса.

## Формат вывода

`day_of_week, flights`

## Пример вывода

```
| day_of_week | flights |
|-------------|---------|
| 1           | 12      |
| 2           | 10      |
```

In [ ]:
SELECT
    cast (strftime('%w', scheduled_departure) as integer) AS day_of_week,
    COUNT(*) AS flights
FROM flights
WHERE departure_airport IN ('DME', 'SVO', 'VKO')
GROUP BY day_of_week
ORDER BY flights DESC

# Обратная связь
Ссылка на форму обратной связи:
https://forms.gle/SnqinPcmAtXzF7u77