<a href="https://colab.research.google.com/github/pkashin/DS2011/blob/master/Webinar3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Консультация 21.10.2021
































--

# 8. Общие идентификаторы

Обнаружилось, что несколько аналитиков продублировали работу друг друга.
Теперь нужно понять, какие рейсы обработали несколько раз.

Вам дано несколько наборов идентификаторов рейсов (набор **flight_id**). 
Необходимо определить те идентификаторы, которые присутствуют в **каждом** наборе. 

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

## Формат выходных данных

На первой строчке записано натуральное число N.
На последующих N строчках записаны идентификаторы тех рейсов, которые обработал очередной аналитик.
На одной строчке все идентификаторы записаны через запятую. В самих данных запятых нет.
Каждый идентификатор рейса (**flight_id**) - это натуральное число.

## Формат выходных данных

Одна строчка. Выведите все общие идентификаторы в порядке возрастания их значения (как числа).
В качестве разделителя используйте запятую.

## Примечание

Обратите внимание, что строчки и числа сравниваются по-разному.
Так, например, строка "3" больше строчки "10".
Иными словами в ответе должно быть 3,10 вместо "10","3".

## Пример входных данных

```
3
7,3,2
1,2,3,4,5
3,2
```

## Пример выходных данных

```
2,3
```

In [ ]:
a = [1, 2, 2, 2, 3, 4, 5, 6, 7]
for item in a:
    if item % 2 == 0:
        a.remove(item)

print(*a, sep=", ")

1, 2, 3, 5, 7

In [ ]:
a = {7,3,2}
b = {1,2,3,4,5}
c = {3}
arr=[b, c]
print(a.intersection(*arr))

{3}

In [ ]:
n = int(input())
ans = []
for i in range(n):
    data = list(map(int, input().split(",")))
    if i == 0:
        ans = data
    else:
        canditates = []
        for item in ans:
            if item not in data:
                canditates.append(item)
        for item in canditates:
            ans.remove(item)

ans.sort()
print(*ans, sep=",")

3
7,3,2
1,2,3,4,5
3,2
2,3

In [ ]:
a = ["10", "3"]
print(*sorted(a), sep=",")

b = [10, 3]
print(*sorted(b), sep=",")

10,3
3,10

In [ ]:
a = [1, 1, 2, 3, 5, 5]
b = set(a)
print(b)
print(a[1])

{1, 2, 3, 5}
1

TypeError: ignored

# 1. Колонки с пропусками

Имеется набор данных о полетах. К сожалению, в некоторых колонках встречаются пропуски.
Вам необходимо определить те колонки, в которых есть пропуски.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию `find_null_columns(df)`.
Эта функция принимает pandas.DataFrame (данные о полетах) и возвращает список имен колонок с пропусками.
Порядок колонок такой же, как и в исходном pandas.DataFrame.

## Шаблон для решения

```python
import pandas as pd
import numpy as np

def find_null_columns(df):
    '''Вставьте ваш код здесь'''
```

## Примечание

В качестве отступа внутри функции используется 4 пробела.

## Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче **не надо ничего читать и писать**.
Нужно **только реализовать указанную функцию**.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, `input()`) или их вывода (например, `print()`) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

## Пример входных данных для функции

```
flight_id,flight_no,status,aircraft_code
1,,Delayed,B125
2,X77234,Cancelled,
3,Y987544,Departed,C12678
```

## Пример результата работы функции

```
["flight_no", "aircraft_code"]
```

In [ ]:
import numpy as np
import pandas as pd

def find_null_columns(df):
    null_columns = []
    for column in df.columns:
        for i in df.index:
            row = df.iloc[i]
            if pd.isnull(row[column]):
                null_columns.append(column)
                break
    return null_columns

In [ ]:
def find_null_columns(df):
    # df.isnull().any()
    return df.columns[df.isnull().any()].to_list()

# 2. Статистика цен на билеты

Дан набор цен о билетах.
Необходимо вычислить среднюю цену, медиану, а также стандартное отклонение.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию `calculate_statistics(df)`.
Эта функция принимает pandas.DataFrame - данные о билетах.
Цена (вещественное число) записана в колонке price.

Функция должна вернуть словарь с 3 ключами:
1. **mean** - содержит среднее
2. **median** - содержит медиану
3. **std** - содержит стандартное отклонение

## Шаблон для решения

```python
import pandas as pd
import numpy as np

def calculate_statistics(df):
    '''Вставьте ваш код здесь'''
```

## Примечание

В качестве отступа внутри функции используется 4 пробела. 

## Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче **не надо ничего читать и писать**.
Нужно **только реализовать указанную функцию**.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, `input()`) или их вывода (например, `print()`) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

## Пример входных данных для функции

```
ticket_id,price
FBD1235F,100.00
GDERWRWM,160.00
TTEHWHER,200.00
```

## Пример результата работы функции

```
{
    "mean": 153.33,
    "median": 160.00,
    "std": 50.33
}
```

In [ ]:
def calculate_statistics(df):
    prices = df["price"]
    return {
        "mean": prices.mean(),
        "median": prices.median(),
        "std": prices.std(),
    }

# 1. Поиск самолетов[1]
**Пожалуйста, ознакомьтесь с уроком "введение" перед решением задач и обратите особое внимание на блок "примечания"**

Необходимо вывести все самолеты, максимальная дальность полета которых находится в пределах от 1300 до 5800 километров включительно. Элементы выборки должны быть упорядочены по возрастанию дальности полета.

## Примечание

Возможно, для решения задачи понадобится документация: https://dev.mysql.com/doc/refman/8.0/en/keywords.html

## Формат вывода

`model, range`

## Пример вывода

```
| model       | range |
|-------------|-------|
| Boeing 737  | 5000  |
| Airbus A320 | 5700  |
```

In [ ]:
SELECT model, `range`
FROM aircrafts
WHERE `range` BETWEEN 1300 AND 5800
ORDER BY `range`;

# Обратная связь
Ссылка на форму обратной связи:
https://forms.gle/SnqinPcmAtXzF7u77