<a href="https://colab.research.google.com/github/pkashin/DS2011/blob/master/Webinar2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Консультация 14.10.2021
































--

In [ ]:
b = 50

def calc_tolal_sum(num1, num2, num3):
  a = 10
  print(num1, num2, num3)
  print(a)
  b = 66



calc_tolal_sum(num1, num2, num3)
print(b)

4 5 6
10
50

In [ ]:
a = [1, 2, 3]
b = [[1, 2, 3], [4, 5, 6]]
print(sorted(a))
a.sort()
print(a)

[1, 2, 3]
[1, 2, 3]

In [ ]:
abs(0.1 + 0.2 - 0.3) <= 0.0000001

True

# 2. Вещественное сравнение

Необходимо реализовать функцию `is_bigger(num1, num2, eps)`.
Эта функция принимает 3 параметра:
1. num1 - первое вещественное число
2. num2 - второе вещественное число
3. eps - эпсилон (вещественное число).

Эта функция возвращает логическое True, если число num1 больше или равно num2 хотя бы на епсилон. 
В противном случае она должна вернуть логическое False.

В данной задаче не надо читать или писать данные.
Вместо этого нужно только реализовать функцию.

## Шаблон для решения

```
def is_bigger(num1, num2, eps):
    '''Вставьте ваш код здесь'''
```

## Примечание

В качестве отступа внутри функции используется 4 пробела.

В целом при сравнении вещественных чисел стоит добавлять точность eps, так как из-за особенностей их представления в компьютере возможны погрешности.

## Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче **не надо ничего читать и писать**.
Нужно **только реализовать указанную функцию**.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, `input()`) или их вывода (например, `print()`) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

## Пример входных данных для функции

```
0.6 0.5 0.01
1.0 0.9 0.3
1.0 0.9 0.1
```

## Пример результата работы функции

```
True
False
True
```

Вещественная арифметика: https://floating-point-gui.de

In [ ]:
def is_bigger(num1, num2, eps):
    '''Вставьте ваш код здесь'''

    return num1 >= num2 + eps

In [ ]:
def func():
    a = 1555
    # if a:
    #     return True
    # else:
    #     return False
    return bool(a)

print(func())

True

In [ ]:
def is_bigger(num1, num2, eps):
    '''Вставьте ваш код здесь'''
    if num1 - num2 >= eps:
      return True
    else:
      return False

In [ ]:
def is_bigger(num1, num2, eps):
    '''Вставьте ваш код здесь'''
    if num1 - num2 - eps >= 0:
      return True
    else:
      return False

# 3. Неоднородные данные

Есть набор данных о посадочных талонах, который поступают от разных подрядчиков.
Поэтому сами данные неоднородны.
Вам необходимо реализовать логику, которая приведет все данные к одному формату.

Входные данные представляют собой список следующих полей:
1. **ticket_no**
2. **flight_id**
3. **boarding_no**
4. **seat_no**

Ниже указано то, какие данные могут быть в каждом из полей и как это поле нужно преобразовать.

Поле **ticket_no** всегда содержит строчку, а поле **flight_id** всегда содержит число.

Возможные значения **boarding_no**:
1. Строчка, начинающееся с "Номер:"
2. Строчка (начинается не с "Номер:")
Необходимо все значения привести к строчке, без начала "Номер:"

Возможные значения **seat_no**:
1. Ряд и место, разделенные символом ";"
2. Ряд и место слитно
Необходимо все значения привести к написанию, через точку с запятой (символ ";").
Ряд - это целое число от 1 до 299. Число пишится без ведущих нулей - 1, а не 01.
Место - это буква от "A" до "H".

Ориентируйтесь на пример ввода-вывода при реализации необходимого преобразования входных данных.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

## Формат входных данных

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: **ticket_no**, **flight_id**, **boarding_no**, **seat_no**.
Все поля разделены одной запятой. В самих данных запятых нет.

## Формат выходных данных

Необходимо вывести N строчек.
В каждой строчке записаны исправленные поля **ticket_no**, **flight_id**, **boarding_no**, **seat_no**.
Все поля разделены одной запятой.

## Пример входных данных

```
5
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,1F
KUIK2YL,3,Номер:327ggs,30A
8XSOVGVNDQ,4,Номер:mn001,51;A
DRXGH62d,5,7733d,62;A
```

## Пример выходных данных

```
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,1;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
```

In [ ]:
"a".isdigit()

False

In [ ]:
n = int(input())
for i in range(n):
    row = input().split(",")
    if row[2].startswith("Номер:"):
        row[2] = row[2][len("Номер:"):]
    if ";" not in row[3]:
        row[3] = f"{row[3][:-1]};{row[3][-1]}"
    print(*row, sep=",")

SyntaxError: ignored

# 4. Дубликаты

К сожалению, обнаружилось, что в данных о посадочных талонах есть дубликаты (повторяющиеся значения).
Дубликатом считаются строки, у которых одинаковы одновременно поля **ticket_no** и **flight_id**.

Необходимо убрать дубликаты строк и оставить только первые вхождения.
Порядок записей менять не надо.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

## Формат входных данных

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: **ticket_no**, **flight_id**, **boarding_no**, **seat_no**.
Все поля разделены одной запятой. В самих данных запятых нет.

## Формат выходных данных

Необходимо вывести все исходные строчки, без дубликатов.
В каждой строчке записаны исходные поля **ticket_no**, **flight_id**, **boarding_no**, **seat_no**.
Все поля разделены одной запятой.

## Пример входных данных

```
7
EXGJGJ521,1,252st,10;C
EXGJGJ521,1,252st,11;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
KUIK2YL,3,328ggs,30;B
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
```

## Пример выходных данных

```
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
```

In [ ]:
a = list("abc")
a[2]='g'.upper()
print(''.join(a))

abG

In [ ]:
a = (1, 2,)
print(a)

(1, 2)

In [ ]:
n = int(input())
ids = []
for i in range(n):
    row = input().split(",")
    current_id = [row[0], row[1],]
    if current_id in ids:
        continue
    ids.append(current_id)
    print(*row, sep=",")

In [ ]:
n = int(input())
ids = set()
for i in range(n):
    row = input().split(",")
    current_id = (row[0], row[1],)
    if current_id in ids:
        continue
    ids.add(current_id)
    print(*row, sep=",")

# Обратная связь
Ссылка на форму обратной связи:
https://forms.gle/SnqinPcmAtXzF7u77